name: Check
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  test:
    name: test-${{ matrix.image }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - zeek-8.0
          - zeek-dev
    steps:
    - uses: actions/checkout@v4
    - run: docker build -t ${{ matrix.image }}-nats -f docker/${{ matrix.image }}.Dockerfile .
    - run: docker run --rm ${{ matrix.image }}-nats /zeek-nats/testing/container.sh
